<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- include this assembly as an NLog extension -->
  <extensions>
    <add assembly="NLog.Extensions.AzureTableStorage"/>
  </extensions>

  <!-- set up a an azure storage table target -->
  <targets>
    <target name="AzureTableStorage"
        xsi:type="AzureTableStorage"
        PartitionKey="${date}.${logger}"
        RowKey="${ticks}.${guid}"
        ConnectionString="BlobEndpoint=https://siloquiststorage.blob.core.windows.net/;QueueEndpoint=https://siloquiststorage.queue.core.windows.net/;TableEndpoint=https://siloquiststorage.table.core.windows.net/;FileEndpoint=https://siloquiststorage.file.core.windows.net/;AccountName=siloquiststorage;AccountKey=thcoGK0QavpkZtJdku4Q0vT+dxEbGFHZZoktu57bEHGWvpUBK74xv7yoFEawZQwj+sE2lAeOLWeoZAOvm3/J3Q=="
        tableName="ArmaLogFileTable" />
  </targets>

  <rules>
    <!-- set up a rule to log to the azure storage target! -->
    <logger name="*" minlevel="Trace" writeTo="AzureTableStorage" />
  </rules>
</nlog>